<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="HealthcareDBString" connectionString="Data Source=SYNHNJSEZA797S\SQLSERVER2012;Integrated Security=true;Initial Catalog=Shrikant.Jadhav" providerName="System.Data.SqlClient" />-->
    <add name="HealthcareDBString" connectionString="Data Source=SYNHNJSEZA797S\SQLSERVER2012;Integrated Security=false;User ID=Shrikant.Jadhav;password=Welcome@1;Initial Catalog=Shrikant.Jadhav" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>